
/**
 * Simpli.fi logo.
 */

.logo[data-logo="Simpli.fi"] {
  width: 2.7em;
}

.logo[data-logo="Simpli.fi"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Simpli.fi"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Simpli.fi"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
